.image-show {
  background-size: cover;
  height: 400px;
  background-position: center;


}

.form {
  min-width: 500px;
}

.price {
  color: #FF717E;
}

.description {
  text-align: left;
}

.main-container {
  width: 100%;
  text-align: center;
  display: center;
  margin: 0 auto;
}
