#profile {
  font-size: 40px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #DDDDDD;
  text-align: center;
  padding: 15px;
  color: #FF717E;
  margin: 0px;
}

.container1 h2 {
  color: #999999;
  font-size: 35px;
}

.container1 ul {
  list-style: none;
}


.container1 li {
  font-size: 20px;

}

.img-small {
  border-radius: 5px;
  width: 400px;
  height: 200px;
}

.resa_description {
display: flex;
justify-content: space-between;
align-items: center;
}

.message-body {
  height: 200px;
  overflow-y: scroll;
}




