<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.svg" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="/dashboard" class="navbar-wagon-item navbar-wagon-link">Dashboard</a>
    <a href="/spaces/new" class="navbar-wagon-item navbar-wagon-link">Propose a space</a>
    <a href="/" class="navbar-wagon-item navbar-wagon-link">Logout</a>



    <!-- Profile picture with dropdown list -->

  </div>

  <!-- Dropdown appearing on mobile only -->

</div>
