<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%,
rgba(0,36,61,0.4) 50%), url('https://cdn-images-1.medium.com/max/2000/1*RCLn5S4SY7Uje2hPo1ZnaQ.jpeg')">
  <div class="banner-content">
    <h1>Rent a space</h1>
    <p>Work in a good place</p>
  </div>
  <form action=' <%= spaces_path %>' method="get" class="form-inline date">
      <input type="text" class="form-control input-lg" name="search" placeholder="City">
      <input type="text" class="form-control input-lg" data-provide="datepicker" placeholder="Arrival Date">
      <input type="text" class="form-control input-lg" data-provide="datepicker" placeholder="Departure Date">
      <select name="" id="" class="form-control input-lg">
        <option value="1">1 person</option>
        <option value="2">2 persons</option>
        <option value="3">3 persons</option>
        <option value="4">4 person</option>
        <option value="5">5 persons</option>
        <option value="6">6 persons</option>
      </select>
      <input type="submit" class="btn btn-primary btn-lg" value="Search">
    </form>
</div>


