<br>
<br>
<br>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="form">
        <form action="">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="city">zipcode </label>
                <input type="text" name="zipcode" id="city">
              </div>
            </div>
            <div></div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="arrival_date">arrival_date</label>
                <input type="text" name="arrival_date" id="arrival_date">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="arrival_hour">arrival_hour</label>
                <input type="text" name="arrival_hour" id="arrival_hour">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="departure_date">departure_date</label>
                <input type="text" name="departure_date" id="departure_date">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="departure_hour">departure_hour</label>
                <input type="text" name="departure_hour" id="departure_hour">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="number_of_users">number_of_users</label>
                <input type="text" name="number_of_users" id="number_of_users">
              </div>
            </div>
          </div>
<br>
<br>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="form-group">
                <input class="btn btn-primary" type="submit">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>



