.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-arround;
  flex-direction: column;
}


.card-name {
  text-align: center;
  padding-bottom: 20px;
}

.card-name h2 {
  font-size: 18px;
}

.card-address {
  position: absolute;
  bottom: -11px;
  right: 15px;
}

.card-address p {
  font-size: 14px;
}

.card-price {
  color: #FF717E;

}



.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
